/* colors */
/* global styles */
*,
:before,
:after {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #23068a;
}

html {
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: "Luckiest Guy", cursive;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

.title {
  color: #fd6001;
  font-size: 5rem;
}
.title span {
  color: #eb3a45;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
}
.subtitle span {
  color: #eb3a45;
}

/* eof global styles */
/* App styled */
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* eof App styled */
/* Nav styles */
.main-nav {
  font-size: 1.4rem;
  margin-top: 15px;
}
.main-nav a {
  padding-right: 1.4rem;
  text-decoration: none;
  position: relative;
}
.main-nav a:hover {
  color: #eb3a45;
}
.main-nav a:hover::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 6px;
  left: 0;
  top: 1.8rem;
  background-color: #eb3a45;
}

/* eof Nav styles */
/* Home styles */
.home {
  margin-top: 100px;
  max-width: 960px;
}
.home h2,
.home h4 {
  text-align: center;
}

/* eof Home styles */
/* Pizza styles */
.pizza {
  margin-top: 60px;
  margin-bottom: 40px;
}

#form {
  display: flex;
  flex-flow: column wrap;
  margin: 80px 10px;
}
#form h4 {
  text-align: center;
}

.required {
  text-align: center;
  font-size: 1.2rem;
  color: #eb3a45;
}

section#sizes {
  border: 1px solid #23068a;
  border-radius: 8px;
  padding: 20px;
  max-width: 450px;
  margin: 0 auto;
}
section#sizes select.sizes {
  display: block;
  margin: 20px auto;
  max-width: 200px;
  font-size: 1rem;
}

section#toppings {
  margin-top: 40px;
  max-width: 900px;
}
section#toppings .toppings {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-top: 20px;
}
section#toppings .toppings label {
  height: 40px;
  max-width: 200px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
}
section#toppings .toppings label:empty {
  height: 0;
  margin: 0 auto;
  border: none;
}
/* eof Pizza styles */
/* Substitute styles */
section#substitute {
  margin: 40px 0;
}
section#substitute .switchContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#substitute .switchContainer span {
  padding-left: 40px;
  font-family: "Luckiest Guy", cursive;
  color: #df9917;
  font-size: 2rem;
}
section#substitute .switch {
  text-align: center;
  display: block;
  margin: 20px auto;
}

/* eof Substitute styles */
/* Order styles */
section#order {
  margin: 40px auto;
  display: flex;
  flex-flow: column nowrap;
}
section#order .qty,
section#order .total {
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  display: flex;
  margin: 20px auto;
}
section#order .qty > input {
  margin-left: 10px;
  width: 50px;
}
section#order .total > input {
  margin-left: 10px;
  width: 60px;
}
section#order textarea {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.notValidBtn {
  border: 10px solid red;
  cursor: not-allowed;
}

.validBtn {
  display: block;
  border: 10px solid #23d623;
  cursor: pointer;
}

button[type=submit] {
  display: block;
  position: relative;
  margin: 50px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
}
button[type=submit]:hover {
  border: 10px solid #df9917;
}
button[type=submit] img {
  width: 100%;
  height: 100%;
}
button[type=submit] p {
  position: absolute;
  color: #ffffff;
  top: 34%;
}

.total > div {
  margin-left: 20px;
}

/* eof Order styles */
/* Success page styles */
#success {
  margin-top: 50px;
}

.wrg-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.wrg-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrg-toggle-check,
.wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.wrg-toggle-check {
  left: 8px;
}

.wrg-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.wrg-toggle-uncheck span,
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.wrg-toggle-container {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: all 0.2s ease;
}

.wrg-toggle-circle {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

/* Success page styles */

/*# sourceMappingURL=index.css.map */
